body {
    background-color: black;
    color: white;
}

.family-description {
    width: 100%;
    max-width: 600px;
    margin: 20px auto; /* Center the text */
    text-align: center;
}

.image-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.image-row .w3-section {
    flex: 1;
    max-width: 30%; /* Adjust the width as needed */
    margin: 10px;
    text-align: center; /* Center-align the text */
}

.image-row img {
    width: 100%; /* Ensure images fill the section */
    height: auto; /* Maintain aspect ratio */
}
